* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui;
}
body {
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
.wrapper {
  margin: 50px auto;
  max-width: 1080px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.header {
  border-bottom: 1px solid #eaeaea;
}
.header .val {
  display: flex;
  min-height: 25px;
}
.search-block:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.06);
  transition: 0.4s ease-in-out;
}
.genTitle {
  max-width: 500px;
}

.goods {
  margin: 20px;
  border: 1px solid #f3f3f3;
  padding: 30px;
  width: 210px;
  height: 270px;
  border-radius: 40px;
  transition: 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.goods:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-3px);
}

.goods .cardImg {
  min-height: 122px;
}
.goods p {
  font-size: 15px;
}
.goods span {
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.5;
}
.goods strong {
  font-size: 12px;
}
.plusBtn {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.plusBtn:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-3px);
}
.search-block {
  border: 1px solid #f3f3f3;
  width: 250px;
  height: 45px;
  border-radius: 10px;
}

input {
  border: 0;
  width: 250px;
}

.unliked {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  transition: 0.45s ease-in-out;
}

.unliked:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  /* overflow-y: hidden; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0px 0px 10px;
}

.drawer h2 {
  margin: 0;
}

.drawer .removeButton:hover {
  transform: translateY(-1px);
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.cartItem .cartImage {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-position: 0 -5px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.cartItem p {
  font-size: 16px;
}

.cartItem .removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}

.cartItem .removeBtn:hover {
  opacity: 1;
}

.cartTotalBlock div {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}
.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}
.cartTotalBlock ul {
  display: block;
  margin-bottom: 30px !important;
}

.cartTotalBlock .greenBtn {
  position: relative;
}

.cartTotalBlock .greenBtn:hover img {
  transform: translateX(5px);
}

.cartTotalBlock .greenBtn img {
  position: absolute;
  right: 30px;
  top: 20px;
  transition: transform 0.15s ease-in-out;
}

.greenBtn {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.greenBtn:disabled {
  background-color: #bebebe !important;
  cursor: default;
}
.greenBtn:hover {
  background: #a3e256;
}
.greenBtn:active {
  background: darken(#9dd558, 5%);
}

.cartTotalBlock2 {
  position: relative;
}
.cartTotalBlock2 .greenBtn {
  width: 280px;
  height: 55px;
}
.cartTotalBlock2 .greenBtn:hover img {
  transform: translateX(-5px);
}

.cartTotalBlock2 .arrow2 {
  position: absolute;
  left: 30px;
  bottom: 20px;
  transition: transform 0.15s ease-in-out;
}

.cartTotalBlock2 .par {
  position: absolute;
  width: 200px;
  right: 43px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  text-align: center;

  color: #000000;

  opacity: 0.4;
}

.cartTotalBlock2 .par2 {
  position: absolute;
  min-width: 200px;
  right: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
}

.cartTotalBlock2 .par3 {
  position: absolute;
  min-width: 200px;
  right: 310px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
}

.cartTotalBlock2 .cartit {
  margin: 20px 0px 30px 0px;
}

.cartEmpty {
  text-align: center;
}

.cartEmpty p {
  width: 280px;
  line-height: 24px;
}

.cartEmpty .greenBtn {
  width: 280px;
  margin-top: 20px;
}

.cartEmpty .greenBtn:hover .arrow {
  transform: translateX(-3px);
}

.cartEmpty .arrow {
  position: relative;
  top: 1px;
  transform: rotate(180deg);
  margin-right: 15px;
  transition: transform 0.15s ease-in-out;
}
